
body{
      font-family:"微軟正黑體"
	}
nav.bg{
	background-color: #FFA98A;
	height:130px;
	position:fixed;
	width:100%;
	z-index:999;
   }
div.left{
	float:left;
}
.brt{
    color:	white;
	font-weight: bolder;
	font-size:28px;
}
.brt:hover{
	color:white;
}


a.menu{
		color:white;
		margin-top:45px;
		font-size: 23px;
		padding-right: 5px;
		margin-left:10px;
	        cursor: pointer;
        
	}
a.menu:hover{
		color:	darkred;
		
	}

.dc{
		font-size: 15px;
		margin-top: -25px;
		overflow: auto;
	}
.dc a{
		overflow: auto;
	}
.dropitem:hover{
		color:dimgray;
		background-color:#FCEFE8;
	}
	
#aa{
		font-size: 23px;
		color:white;
		line-height: 420%;
		padding-right: 10px;
		margin-left:5px;
		margin-top:15px;
	}
#aa:hover{
		color:	darkred;
	}
#right{
		float:right;
	}
#srcbtn{
		margin-left:-50px;
	}
.dd{
		margin-left:30px;
		cursor: pointer;
	        color:white;
	}
.cart{
		margin-top:15px;
		margin-right:10px;
	}
#search{
		margin-left:180px;
		margin-right: 30px;
		
	}

