<style>
body{
  font-family: "微軟正黑體";
}
	.row {
  display: flex-shrink:10;
}


.left {
  flex: 20%;
  width:15%;
  padding-top:130px;
  margin-left: 10px;
}

  #myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  color:dimgray;
  display: block;
  letter-spacing: 1px;

}

#myMenu li a:hover {
  color:dimgray;
   background-color:#F3E7E7;

}

</style>