body {
  font-family: "微軟正黑體";
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}


.allinformation{
  margin-top: 180px;
    font-size: 20px;
}

.container {
  background-color: white;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.input001 {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.item {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkbtn {
  text-align: center;
  background-color:#FFA98A;
  color: white;
  padding: 12px;
  margin: 50px 0;
  margin-left: 40%;
  height: 80px;
  border: none;
  width: 20%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  color: darkred;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
.detailtittle{
  margin-top: 30px;
}
.detail01{
  width:850px;
}
.address01{
     width:850px;
}
.remind{
  margin-top: 50px;
  text-align: center;
  color:#F95B06;
}
.col-100{
  margin-left:60px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 700px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.container1 {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 180px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;

  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #FFA98A;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.item{
  font-size: 20px;
  font-weight: bold;
  color:dimgray;
}
footer
{
  position: absolute;
  top: 1450px;
  background-color: #FFA98A;
  height: 85px;
  margin-top: 80px;
  margin-left: -10px;
  width: 100%;
}
