body{
  font-family: "微軟正黑體";
}
* {
  box-sizing: border-box;
}

#all{
   text-align: center;
}
/* Add padding to containers */
h1{
  color: #CD5C5C;
}
.container {

  padding: 16px;
  background-color: #FDF5E6;
}

/* Full-width input fields */
.input01, .input02{
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color:  #FAEBD7;
}

.input01:focus, .input02:focus {
  background-color:#FFE4B5;
  outline: none;
}
b{
  color:#9F6060;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #FFA98A;
  color: white;
  font-size: 18px;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: #CD5C5C;
}

a:hover
{
  color:#CD5C5C;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color:  #FFEFD5;
  text-align: center;
}

footer
{
  position: absolute;
  top: 930px;
  background-color: #FFA98A;
  height: 85px;
  margin-top: 80px;
  width: 100%;
}

.topmargin
{
  margin-top: 200px;
}
