body{
      font-family:"微軟正黑體"
  }
.bg{
  background-color: #FFA98A;
  height:130px;
  position:fixed;
  z-index: 999;
  width: 100%;
   }
div.left{
  float:left;
}
.brt{
    color:  white;
  font-weight: bolder;
  font-size:28px;
}
.brt:hover{
  color:white;
}


a.menu{
    color:white;
    margin-top:45px;
    font-size: 23px;
    padding-right: 5px;
    margin-left:5px;
          cursor: pointer;
        
  }
a.menu:hover{
    color:  darkred;
    
  }

.dc{
    font-size: 15px;
    margin-top: -25px;
    overflow: auto;
  }
.dc a{
    overflow: auto;
  }
.dropitem:hover{
    color:dimgray;
    background-color:#FCEFE8;
  }
  
#aa{
    font-size: 23px;
    color:white;
    line-height: 420%;
    padding-right: 10px;
    margin-left:5px;
    margin-top:15px;
  }
#aa:hover{
    color:  darkred;
  }
#right{
    float:right;
  }
#srcbtn{
    margin-left:-50px;
  }
.dd{
    margin-left:30px;
    cursor: pointer;
  }
.cart{
    margin-top:10px;
    margin-right:10px;
  }
#search{
    margin-left:180px;
    margin-right: 30px;
    
  }
.m{
    color:white;
  }







body
{
  background-color: lightyellow;
}

.topmargin1
{
  margin-top: 100px;

}

.topmargin2
{
  margin-top: 70px;
}

.word
{
  text-align: center;
  margin-right: 80px;
  margin-top: 15px;
}

.word>a
{

  text-decoration:none;
  font-family: 微軟正黑體;
  color: #3F4878;
  font-size: 23px;
}
.word>a:hover
{
  text-decoration:none;
}

.over
{
  margin-right: 68px;
}

.en
{
  font-family: Comic Sans MS;
}

.row
{
  margin-left: 50px;
}

.zoom>img
{
  transform:scale(1,1);
  transition: all 0.2s ease-out;

}

.zoom>img:hover
{
  transform:scale(1.05,1.05);
  box-shadow: 5px 5px 8px 0px   #ADADAD;
}

footer
{
  background-color: #FFA98A;
  height: 85px;
  margin-top: 80px;
  width: 100%;
}

.foot1
{
  text-align: center;
  font-family: 微軟正黑體;
  color: white;
  font-size: 20px;
  padding-top: 5px;
}

.foot2
{
  font-family: 微軟正黑體;
  text-align: center;
  color: white;
  margin-top: -5px;
}

.foot3
{
  font-family: 微軟正黑體;
  margin-left: 15px;
  margin-top: -50px;
  padding-top: 10px;
  color: white;
}


.gototop
{
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 999;
  text-decoration:none;
  cursor: pointer;
  display:none;
}

.gototop:hover
{
  opacity: 0.8;
}

.container-fluid
{
  padding-right: 0px;
  padding-left: 0px;
}