  body{
      font-family:"微軟正黑體";
      width:100%;
	}

nav.bg{
	background-color: #FFA98A;
	height:130px;
	position:fixed;
	width:100%;
	z-index:999;
   }
div.left{
	float:left;
}
.li01{
  margin-left: 20px;
}
.brt{
    color:	white;
	  font-weight: bolder;
	  font-size:28px;
}
.brt:hover{
	color:white;
}

.column {
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color:white;
  height: 250px;
  margin-top: -20px;
  margin-left: -15px;


}

.column a {
  float: none;
  /*color: black;*/
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a :hover{
	color:	darkred;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
a.menu{
		color:white;
		margin-top:45px;
		font-size: 23px;
		padding-right: 5px;
		margin-left:10px;
	margin-top: 42px;
	    cursor: pointer;
	    float:left;
	    overflow: hidden;
        
	}
a.menu:hover{
		color:	darkred;
		
	}

.dropdown-content{
		font-size: 15px;
		/*margin-top: -35px;*/
		overflow:hidden;
		width:450px;
		height:380px;
		display:none;
		background-color:white;
		left:0;
		margin-top:-35px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 10;
	}
.dc a{
		overflow: auto;
	}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropitem:hover{
		color:dimgray;
		background-color:#FCEFE8;
	}
	.right{
    float: right;
  }
#aa{
		font-size: 23px;
		color:white;
		line-height: 420%;
		padding-right: 10px;
		margin-left:30px;
		margin-top:10px;
	}
#aa:hover{
		color:	darkred;
	}
ul.right{
		float:right;
	}
.searchall{
  margin-left:80px;
  margin-top: 50px;
}


.cart{
		margin-top:50px;
		margin-right:-300px;
	  margin-left:10px;
	}

  .member1{
    
    color:white;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;

  }
.membermenu{
  margin-top: -30px;
}







body
{
  background-color: lightyellow;
}

.topmargin1
{
  margin-top: 100px;

}

.topmargin2
{
  margin-top: 70px;
}

.word
{
  text-align: center;
  margin-right: 80px;
  margin-top: 15px;
}

.word>a
{

  text-decoration:none;
  font-family: 微軟正黑體;
  color: #3F4878;
  font-size: 23px;
}
.word>a:hover
{
  text-decoration:none;
}

.over
{
  margin-right: 68px;
}

.en
{
  font-family: Comic Sans MS;
}

.row
{
  margin-left: 50px;
}

.zoom>img
{
  transform:scale(1,1);
  transition: all 0.2s ease-out;

}

.zoom>img:hover
{
  transform:scale(1.05,1.05);
  box-shadow: 5px 5px 8px 0px   #ADADAD;
}

footer
{
  background-color: #FFA98A;
  height: 85px;
  margin-top: 80px;
  width: 100%;
}

.foot1
{
  text-align: center;
  font-family: 微軟正黑體;
  color: white;
  font-size: 20px;
  padding-top: 5px;
}

.foot2
{
  font-family: 微軟正黑體;
  text-align: center;
  color: white;
  margin-top: -5px;
}

.foot3
{
  font-family: 微軟正黑體;
  margin-left: 15px;
  margin-top: -50px;
  padding-top: 10px;
  color: white;
}


.gototop
{
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 999;
  text-decoration:none;
  cursor: pointer;
  display:none;
}

.gototop:hover
{
  opacity: 0.8;
}

.container-fluid
{
  padding-right: 0px;
  padding-left: 0px;
}
